@import "tailwindcss";
@import "tw-animate-css";

/* text-xl : หัวข้อ */
/* text-base : หัวข้อย่อย/เนื้อหา */

.cl-userButtonOuterIdentifier {
    font-size: 18px;
    color: gray;
}
.cl-avatarBox {
    width: 48px;
    height: 48px;
}
.cl-userButtonTrigger {
    outline: none !important;
    box-shadow: none !important;
}





